* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

body{
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: var(--dark-blue);
  color: white;
  font-weight: var(--400);
  line-height: 1.5;
  letter-spacing: 0;
}

:root{
  /* font weight */
  --300: 300;
  --400: 400;
  --500: 500;
  --600: 600;
  --700: 700;


  /* color */
  --red : #ff0513;
  --dark-blue: #040b33;


}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.appBody{
  margin: 30px;
  height: 100vh;
  
}

.appContent{
  max-width: 70%;
  margin:auto;
  height: 400px;
}

/* */